In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame({
    'P Cost': [50,50,50,50,75,100,100],
    'P Views': [20000, 15000, 23000, 20000, 19000, 30000, 40000],
    'Q Cost': [150, 150, 150, 150, 200, 300, 300],
    'Q Views': [200000, 210000, 175000, 230000, 150000, 500000, 450000],
    'R Cost': [50,50,50,50,75,100,100],
    'R Views': [10000, 20000, 20000, 14000, 23000, 22000, 25000]
}, index= ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])
df

           P Cost  P Views  Q Cost  Q Views  R Cost  R Views
Monday         50    20000     150   200000      50    10000
Tuesday        50    15000     150   210000      50    20000
Wednesday      50    23000     150   175000      50    20000
Thursday       50    20000     150   230000      50    14000
Friday         75    19000     200   150000      75    23000
Saturday      100    30000     300   500000     100    22000
Sunday        100    40000     300   450000     100    25000

In [4]:
df.describe()

,P Cost,P Views,Q Cost,Q Views,R Cost,R Views
count,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
mean,67.857143,23857.142857,200.000000,273571.428571,67.857143,19142.857143
std,23.779743,8474.050024,70.710678,140674.396086,23.779743,5304.984179
min,50.000000,15000.000000,150.000000,150000.000000,50.000000,10000.000000
25%,50.000000,19500.000000,150.000000,187500.000000,50.000000,17000.000000
50%,50.000000,20000.000000,150.000000,210000.000000,50.000000,20000.000000
75%,87.500000,26500.000000,250.000000,340000.000000,87.500000,22500.000000
max,100.000000,40000.000000,300.000000,500000.000000,100.000000,25000.000000

In [5]:
df.sum()

P Cost         475
P Views     167000
Q Cost        1400
Q Views    1915000
R Cost         475
R Views     134000
dtype: int64

In [8]:
df[['P Cost', 'Q Cost', 'R Cost']].mean(axis=1)

Monday        83.333333
Tuesday       83.333333
Wednesday     83.333333
Thursday      83.333333
Friday       116.666667
Saturday     166.666667
Sunday       166.666667
dtype: float64

In [ ]:
dates = pd.date_range('1950-01', periods=24, freq='M')

In [ ]:
dates