In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

    views  likes
0   90006    402
1  101141    389
2   97297    403
3  117182    397
4   99637    404

In [4]:
df.shape

(100, 2)